.title_paper_page{
    margin: 0px 60px;
    font-size: 22px;
}

.paragraph_1_paper_page{
    margin: 20px 60px;
}

.image_paper_page{
    width: 500px;
    margin: 10px auto;
    display: block;
    justify-content: center;
}

.paragraph_2_paper_page{
    margin: 20px 60px;
}
